<template id='listItemComponent'>
    <style>
        .listItemStyle1 li{
            background-color: aqua;
            color: crimson;
        }

    </style>
    <div>
        <ul class="listItemStyle1" data-skin-part="list">
            <li data-skin-part="name"><%- ( sp.attributes !== null && sp.attributes !== undefined) ? sp.attributes.name : 'name: undefined' %></li>
            <li data-skin-part="value"><%- ( sp.attributes !== null && sp.attributes !== undefined) ? sp.attributes.value : 'value: undefined'  %></li>
            <li data-skin-part="dob"><%- ( sp.attributes !== null && sp.attributes !== undefined) ? sp.attributes.dob : 'dob: undefined'  %></li>
        </ul>
    </div>
</template>
