<template id='listItemCollectionComponent'>
    <style>
        .listItemCollectionViewMainContainer{
            width:100%;
            height:100%;
            background-color: chartreuse;
            border: solid 1px red;
        }

    </style>
    <div id="listItemMain" class="listItemCollectionViewMainContainer" data-skin-part="mainContainer">

    </div>
    <input type="text" id="name" maxlength="26" value="name" data-skin-part="nameInput"/>
    <input type="date" data-skin-part="dateInput"/>
    <button id="addItem" data-skin-part="addBtn">add item</button>
    <label data-skin-part="sortIndicator">Sort Off</label>
</template>
