<template id='settingsComponent'>
    <style>
        button{
            background-color: #ff1317;
            color: #30dc23;
        }
        label{
            font-weight: bold;
        }

    </style>
    <div>
        <button data-skin-part="showBtn">Show Settings</button>
        <label id="backgroundColorLabel" for="backgroundColorInput" data-skin-part="backgroundColorLabel">Background Color</label>
        <input id="backgroundColorInput" type="text" data-skin-part="backgroundColorInput"/>
    </div>
</template>
